@import "normal.scss";
@import "_rem.scss";



//左侧左侧显示
.question-form{
  max-width: 80%;
  padding: rem(12) rem(6);
  border-radius: 5px;
  clear: both;
  .question-info{
    display: flex;
    align-items: center;
    img{
      width: rem(40);
      height: rem(40);
      margin: 0 rem(10);
    }
    .question-title{
    }
  }
  .question-title{
    font-weight: 400;
    font-size: rem(15);
    background-color: #fff;
    color: #333;
    padding: rem(6) rem(12) rem(6) rem(8);
    border-radius: 5px;
  }
  .question-options{
    margin-top: rem(10);
    margin-left: rem(60);
    color: #333;
    li{
      border-radius: 5px;
      margin: rem(12) 0;
      padding: rem(6) rem(8);
      font-size: rem(15);
      background-color: #fff;
      color: #555;
      //border: 1px solid #D3D3D3;
    }
  }
}


//对话右侧显示
.question-form.right{
  float: right;
  .question-info{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    .question-title{
      background-color: #A0E75B;
    }
  }
  .question-options{
    margin-right: rem(60);
    margin-left: 0;
  }
}
